#main {
  background-image: url("../img/main_bg.jpg");
  background-size: cover;
}
#main .h1-logo {
  font-family: myfont;
  color: white;
  font-weight: bold;
  text-align: center;
}
#main .descr-block {
  color: white;
  font-weight: 500;
  font-size: 15pt;
  text-align: center;
  padding: 0 20%;
}
#services .label {
  text-align: center;
  color: grey;
}
#services .row {
  width: 98vw;
}
#services .row .service-block {
  min-height: 40vh;
  border: 3px solid white;
  padding: 0;
  text-align: center;
}
#services .row .service-block .services-icon {
  color: grey;
  font-size: 58pt;
  transition: 1s;
  padding: 0;
  margin: 0 auto;
}
#services .row .service-block .category-label {
  color: grey;
  transition: 1s;
}
#services .row .service-block .category-descr {
  color: grey;
  transition: 1s;
  text-align: left;
}
#services .row #development,
#services .row #support,
#services .row #seo,
#services .row #copywrite {
  transition: 1s;
}
