#main {
  background-image: url("../img/main_bg.jpg");
  background-size: cover;

  .h1-logo {
    font-family: myfont;
    color: white;
    font-weight: bold;
    text-align: center;
  }

  .descr-block {
    color: white;
    font-weight: 500;
    font-size: 15pt;
    text-align: center;
    padding: 0 20%;
  }
}

#services {

  .label {
    text-align: center;
    color: grey;
  }

  .row {

    width: 98vw;

    .service-block {
      min-height: 40vh;
      border: 3px solid white;
      padding: 0;
      text-align: center;

      .services-icon {
        color: grey;
        font-size: 58pt;
        transition: 1s;
      }

      .category-label {
        color: grey;
        //text-align: center;
        transition: 1s;
      }

      .category-descr {
        color: grey;
        transition: 1s;
        text-align: left;
      }
    }

    #development, #support, #seo, #copywrite {
      transition: 1s;
    }
  }
}