@font-face {
  font-family: ubuntu;
  src: url("../font/ubuntu.ttf");
}
@font-face {
  font-family: myfont;
  src: url("../font/webcrew.ttf");
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
html .wrapper,
body .wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: ubuntu;
}
html .wrapper .header,
body .wrapper .header {
  width: 100%;
}
html .wrapper .header .nav-wrapper ul li,
body .wrapper .header .nav-wrapper ul li {
  text-transform: uppercase;
}
html .wrapper .header nav,
body .wrapper .header nav {
  background-color: #18bc9c !important;
  padding: 0 10px 0 10px;
}
html .wrapper .header .brand-logo,
body .wrapper .header .brand-logo {
  font-family: myfont;
}
html .wrapper .content,
body .wrapper .content {
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 90px;
}
html .wrapper .content .label,
body .wrapper .content .label {
  text-align: center;
  color: grey;
}
html .wrapper .content .anchor,
body .wrapper .content .anchor {
  min-height: 100vh;
  margin: 0 auto;
  padding: 15px 0 0 0;
}
html .wrapper .footer,
body .wrapper .footer {
  height: 80px;
  margin-top: -80px;
  background: #3498DB;
}
html .wrapper .footer footer,
body .wrapper .footer footer {
  background-color: #18bc9c !important;
}
html .wrapper .footer footer #fb,
body .wrapper .footer footer #fb {
  background-color: #3b5998 !important;
}
html .wrapper .footer footer #vk,
body .wrapper .footer footer #vk {
  background-color: #45668e !important;
}
html .wrapper .footer footer #twitter,
body .wrapper .footer footer #twitter {
  background-color: #00aced  !important;
}
html .wrapper .footer footer #gplus,
body .wrapper .footer footer #gplus {
  background-color: #dd4b39  !important;
}
